// MOBILE PORTRAIT
$grid-columns: $xs-grid-columns;
$grid-column-width: $xs-grid-column-width;
$grid-gutter-width: $xs-grid-gutter-width;

@media #{$xs} {
  @for $grid-column from 1 through $grid-columns {
    .#{'col-xs-' + $grid-column} {
      @include span-columns($grid-column, false);
    }
  }

  @for $grid-column from 1 through $grid-columns {
    .#{'col-xs-' + $grid-column + '-gutter'} {
      @include span-columns($grid-column, true);
    }
  }

  @for $grid-column from 1 through $grid-columns {
    .#{'col-xs-fluid-' + $grid-column} {
      @include span-fluid-columns($grid-column, false);
    }
  }

  @for $grid-column from 1 through $grid-columns {
    .#{'col-xs-fluid-' + $grid-column + '-gutter'} {
      @include span-fluid-columns($grid-column, true);
    }
  }

  @for $grid-column from 1 through $grid-columns {
    .#{'offset-xs-' + $grid-column} {
      margin-left: calc-grid($grid-column) + $grid-gutter-width + px;
    }
  }

  .offset-xs-0 {
    margin-left: 0;
  }

  body {
    &.show-responsive-identifier {
      .responsive-identifier {
        background: $xs-identifier-color;

        &:after {
          content: $xs-identifier-text;
        }
      }
    }
  }
}
